.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.List-View{
  color: black;
  height: 100%;
  width: 100%;
}

.Active-List{
  background-color: cadetblue;
}

.App-link {
  color: #61dafb;
}

.Title-Bar{
  min-width: 400px;
  width: 65vw;
  height: 7vh;
  border-radius: 16px;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: scroll;
  align-items: center;
  margin-bottom: 10px;
}
::-webkit-scrollbar {
  width: 0px;
  height: 1.2vh;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.To-Do-View {
  background-color: azure;
  min-width: 400px;
  width: 65vw;
  height: 58vh;
  border-radius: 16px;
  opacity: 0.91;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: inline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
