.Action-Button{
  height: 53%;
}

.Action-Input{
  box-sizing: border-box;
  border: transparent;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: calc(10px + 2vmin);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Action-Form{
  width: 100%;
  height: 100%;
}

.Active-List{
  background-color: cadetblue;
}

.App {
  text-align: center;
}

.App-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.App-logo {
  height: 38vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.List-Item-Button{
  width: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.List-Item-Container{
  background-color: #E9F6FC;
  border-radius: 10px;
  margin-bottom: 1px;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.List-View{
  color: black;
  height: 100%;
  width: 100%;
  overflow: scroll;
  align-items: center;
  margin-top: 8px;
}

.Logo-Container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.List-Image{
  height: calc(5px + 2vmin);
  margin-right: 10px;
  margin-left: 8px;
  margin-top: 7px;
}

.Submit-Button{
  margin-top: 2.5vh;
  height:7vh;
  width: 55vw;
  min-width: 296px;
  max-width: 780px;
  border-radius: 12px;
  font-size: calc(15px + 2vmin);
}

.Title-Bar{
  min-width: 350px;
  width: 65vw;
  max-width: 900px;
  height: 5.5vh;
  border-radius: 16px;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: scroll;
  align-items: center;
  margin-bottom: 10px;
}

.Title-Input{
  font-size: calc(10px + 2vmin);
  color: #61dafb;
  width: calc(180px + 2vmin);
  box-sizing: border-box;
  border: transparent;
  outline: none;
  background: transparent;
  font-family: inherit;
  text-align: center;
}

.Title-Tab{
  background-color: #4c535a;
  color: #61dafb;
  height: 100%;
  border-radius: 10px;
  margin-right: 10px;
  padding-right: 9px;
  vertical-align: middle;
}

.To-Do-Space{
  width: 80%;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.To-Do-View {
  background-color: azure;
  min-width: 350px;
  max-width: 900px;
  width: 65vw;
  height: 58vh;
  border-radius: 12px;
  opacity: 0.91;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: contents;
}

ul:hover{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
  height: 1.2vh;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
